#selectMovie, #receipt {
  border: solid black;
}

.receipt-col {
  border-right: 1px solid lightgray;
}
.delete-button {
  color: red;
  font-weight: bold;
}

body {
  background-image:url("../img/background.jpg");  
  background-repeat: repeat; 
}

.col-md {
  background-color: white;
  margin-left: 10px;
  margin-top: 10px;
  min-height: 500px;
}